# Bot ID
# Add the Client ID of bot which should be running Bastion.
# https://discord.com/developers/applications
BOT_ID=

# Bot Token
# Add the token of the bot which should be running Bastion.
# https://discord.com/developers/applications
BOT_TOKEN=

# Bot Owner
# User ID of user who should be considered as the bot owner.
OWNER_ID=

# MongoDB connection URI
# NOTE: If you're running MongoDB locally and using Bastion's Docker image,
# replace the IP `127.0.0.1` to `host.docker.internal` so Docker can access
# your local MongoDB server.
MONGO_URI=

# Unsafe Mode
# When enabled, this enables usage of unsafe commands like `exec` and `eval`.
# Keep this disabled if the bot owner isn't exclusively you.
UNSAFE_MODE=FALSE


# Enable Music Activity
# When enabled, Bastion updates the activity to the currently playing track.
# It should ideally be disabled if music is played on multiple servers.
BASTION_MUSIC_ACTIVITY=TRUE

# Relay Direct Messages
# When enabled, Bastion will relay any direct messages it receives to the
# owner of the bot application / team.
# If a Discord webhook URL is specified, it'll relay the direct messages
# via the webhook.
BASTION_RELAY_DMS=FALSE

# Bastion API Port
# Port used for Bastion API Server.
# If port isn't set the API server won't start.
# `PORT` environment variable overwrites this value.
BASTION_API_PORT=8377
